body {
    margin: 0;
    padding: 0;
    background-color: #a8a3a3;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1em;
}

article {
    background-color:white;
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 300px;
    align-content: end;
}

h2 {
    color: #333;
}

p {
    color: #666;
}
.item{
    align-content: end;
}